<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625066155944-amlsrijerlnnk1vaiffor5qo4gq73g82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625066155944-amlsrijerlnnk1vaiffor5qo4gq73g82</string>
	<key>API_KEY</key>
	<string>AIzaSyCCGuNTZBc3xmJ7O1wsbjjCBVE1hNE0qnc</string>
	<key>GCM_SENDER_ID</key>
	<string>625066155944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.akademiBootcamp</string>
	<key>PROJECT_ID</key>
	<string>activitist-app</string>
	<key>STORAGE_BUCKET</key>
	<string>activitist-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625066155944:ios:80c218e3fed41ed682c79d</string>
</dict>
</plist>